Package: com.yourname.hellotweak
Name: 小叮当
Version: 0.0.8-2
Architecture: iphoneos-arm64
Description: 小叮当：微信防撤回 + 自定义提示语 + 自动抢红包（适配微信8.0.70）
Maintainer: Your Name <you@example.com>
Author: Your Name <you@example.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0)
