Package: com.yourname.hellotweak
Name: 小叮当
Version: 0.0.13-1
Architecture: iphoneos-arm64
Description: 小叮当：防撤回+自动抢红包+自定义壁纸（已接入插件收纳，适配微信8.0.70）
Maintainer: Your Name <you@example.com>
Author: Your Name <you@example.com>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0)
